*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
*.iml
.idea/
*.log
*.hprof
.cxx/
*.keystore
!gradle/wrapper/gradle-wrapper.jar
# Whitelist our CI mirror init script (otherwise .gradle/ is ignored above)
/.gradle/init.d/*.gradle.kts
/app/release/
